FUNCTION

In [5]:
def my_fun(para1="Default"):
    """"hello everyone"""
    print(para1)

In [7]:
my_fun

In [9]:
my_fun()

Default

In [11]:
my_fun("hi")

hi

In [15]:
def findSum(a,b):
    result = a+b
    return result
x = 5
y = 7
p = 5
z = findSum(x,y,p)
print(z)

TypeError: findSum() takes 2 positional arguments but 3 were given

In [17]:
def arithmetic(num1, num2):
    add = num1+num2
    sub = num1-num2
    mul = num1*num2
    div = num1/num2
    return add,sub,mul,div
a,b,c,d=arithmetic(54,21)
print(a,b,c,d)

75 33 1134 2.5714285714285716

In [19]:
def my_fun(fname,lname):
    print(f"my first name is {fname} and my last name is {lname}")
my_fun("Unnatidhar", "Sharma")

my first name is Unnatidhar and my last name is Sharma

In [21]:
def my_fun(fname,lname):
    print(f"my first name is {fname} and my last name is {lname}")
my_fun(lname="sharma", fname="Unnatidhar")

my first name is Unnatidhar and my last name is sharma

default

In [24]:
def my_fun(fname, lname="Sharma"):
    print(f"my first name is {fname} and my last name is {lname}")
my_fun("Unnaidhar")

my first name is Unnaidhar and my last name is Sharma

In [28]:
def sum_num(num1,*num):
    result = num1
    for i in num:
        result += i
    return result
r = sum_num(10,20,30)
print(f"the sum of number is: {r}")
r = sum_num(10,20,30,40,50)
print(f"the sum of number is: {r}")

the sum of number is: 60
the sum of number is: 150