In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv('cars.csv')

In [8]:
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [10]:
df.shape

(8128, 5)

In [12]:
df.isnull().sum()

brand            0
km_driven        0
fuel             0
owner            0
selling_price    0
dtype: int64

In [14]:
df_fuel=df['fuel'].unique()

In [16]:
df_fuel

array(['Diesel', 'Petrol', 'LPG', 'CNG'], dtype=object)

In [18]:
df_owner = df['owner'].unique()
df_owner

array(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth & Above Owner', 'Test Drive Car'], dtype=object)

In [20]:
df['fuel'].value_counts()

fuel
Diesel    4402
Petrol    3631
CNG         57
LPG         38
Name: count, dtype: int64

In [30]:
#using pandas apply the onehotencoder
pd.get_dummies(df,columns=['fuel'])

,brand,km_driven,owner,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol
0,Maruti,145500,First Owner,450000,False,True,False,False
1,Skoda,120000,Second Owner,370000,False,True,False,False
2,Honda,140000,Third Owner,158000,False,False,False,True
3,Hyundai,127000,First Owner,225000,False,True,False,False
4,Maruti,120000,First Owner,130000,False,False,False,True
...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,First Owner,320000,False,False,False,True
8124,Hyundai,119000,Fourth & Above Owner,135000,False,True,False,False
8125,Maruti,120000,First Owner,382000,False,True,False,False
8126,Tata,25000,First Owner,290000,False,True,False,False
8127,Tata,25000,First Owner,290000,False,True,False,False

In [32]:
X = df.iloc[:,:-1]
X

        brand  km_driven    fuel                 owner
0      Maruti     145500  Diesel           First Owner
1       Skoda     120000  Diesel          Second Owner
2       Honda     140000  Petrol           Third Owner
3     Hyundai     127000  Diesel           First Owner
4      Maruti     120000  Petrol           First Owner
...       ...        ...     ...                   ...
8123  Hyundai     110000  Petrol           First Owner
8124  Hyundai     119000  Diesel  Fourth & Above Owner
8125   Maruti     120000  Diesel           First Owner
8126     Tata      25000  Diesel           First Owner
8127     Tata      25000  Diesel           First Owner

[8128 rows x 4 columns]

In [34]:
y = df.iloc[:,-1]
y

0       450000
1       370000
2       158000
3       225000
4       130000
         ...
8123    320000
8124    135000
8125    382000
8126    290000
8127    290000
Name: selling_price, Length: 8128, dtype: int64

In [36]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [44]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(drop='first')

In [58]:
encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')

# Fit and transform
encoded_array = encoder.fit_transform(X_train)

# Convert to DataFrame with correct column names
encoded_df = pd.DataFrame(encoded_array, columns=encoder.get_feature_names_out(['fuel']))

# Reset index for alignment
X_train = X_train.reset_index(drop=True)
encoded_df = encoded_df.reset_index(drop=True)

# Merge with original dataset if needed
X_train_encoded = pd.concat([X_train, encoded_df], axis=1)

print(X_train_encoded)

TypeError: OneHotEncoder.__init__() got an unexpected keyword argument 'sparse'