In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    'date': ['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04'],
    'sales': [500, 1500, 800, 2000],
    'region': ['North', 'South', 'North', 'East']
}

In [3]:
data = pd.DataFrame(data)

In [4]:
data

         date  sales region
0  2025-01-01    500  North
1  2025-01-02   1500  South
2  2025-01-03    800  North
3  2025-01-04   2000   East

In [5]:
data['date'] = pd.to_datetime(data['date'])

In [6]:
data.head()

        date  sales region
0 2025-01-01    500  North
1 2025-01-02   1500  South
2 2025-01-03    800  North
3 2025-01-04   2000   East

In [7]:
total_sales_per_region = data.groupby('region')['sales'].sum().reset_index()

In [8]:
high_sales = data[data['sales'] > 1000]

In [9]:
print("Total Sales per Region:")
print(total_sales_per_region)

Total Sales per Region:
  region  sales
0   East   2000
1  North   1300
2  South   1500

In [10]:
print("\nSales greater than 1000:")
print(high_sales)

Sales greater than 1000:
        date  sales region
1 2025-01-02   1500  South
3 2025-01-04   2000   East